---
export interface Props {
  id: string;
  title: string;
  subTitle?:string;
  paragraphClass?:string
}

const { title, id, paragraphClass, subTitle } = Astro.props;
const pClass = `${paragraphClass} max-w-xl text-center font-extrabold text-2x`
const subClass = subTitle ? `block gradient-text text-center font-light tracking-tight text-3xl` : "hidden"
---

<section
  id={id}
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2
      class="gradient-text text-center font-extrabold tracking-tight text-6xl"
    >
      {title}
      <span class={subClass}>{subTitle}</span>
    </h2>
  </div>
  <div class="content">
    <p class={pClass}>
      <slot name="lead" />
    </p>
    <slot />
  </div>
</section>