---
import { Picture } from "@astrojs/image/components";
import type { GallerySite } from "~/types";

export interface Props {
  site: GallerySite;
}

const { site } = Astro.props;

const widths = [450, 800];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";
const isInternal = site.url === "#";
---

<div class="group aspect-video hover:!text-default relative outline-none">
  <figure class="relative h-full w-full overflow-hidden outline-none">
    <Picture
      class="object-cover w-full h-full transition-all duration-300 bg-cover group-hover:scale-110 group-hover:opacity-20 group-focus:scale-110 group-focus:opacity-20"
      src={site.image}
      widths={widths}
      sizes={sizes}
      alt={site.title}
    />
    
    <figcaption class="absolute inset-0">
      <div
        class="flex h-full flex-col items-center justify-center gap-2 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100"
      >
          <a 
            target={isInternal ? undefined : "_blank"} 
            href={site.url} 
            class={`absolute inset-0 z-10 flex items-center justify-center focus:outline-none outline-none ${
              isInternal ? "pointer-events-none cursor-default" : ""
            }`}
          >
            <h3 class="text-center font-semibold uppercase text-xl">
              {site.title}
            </h3>
          </a>
      </div>
    </figcaption>
  </figure>
</div>